* {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
ul, li, ol {
	list-style-type: none;
}
.wrapper {
	display: inline-block;
	position: relative;
}
.wrapper button {
	margin: 20px 0px 20px 20px;
}
.wrapper .popover {
	display: none;
    border: 1px solid #ff6633;
    padding: 5px;
	position: absolute;
    left:100%;
    white-space:nowrap;
	top: 20px;
	margin-left: 10px;

}
.wrapper .popover::before {
	content: '';
	position: absolute;
	right: 100%;
	top: -1px;
	border: 10px solid transparent;
	border-right-color: #FF6633;
}
.wrapper .popover::after {
	content: '';
	position: absolute;
	right: 100%;
	top: -1px;
	border: 10px solid transparent;
	border-right-color: #fff;
	margin-right:-2px;
}